{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
  ]
}
