<a href=<%="https://slack.com/oauth/authorize?scope=#{@bot_scope}&client_id=#{@slack_client_id}&redirect_uri=#{@redirect_uri}"%>>
  <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"/>
</a>
