@font-face {
  font-family: 'GT America';
  src: url('/fonts/hinted-GTAmerica-Regular.eot');
  src: local('GT America Regular'), local('GTAmerica-Regular'),
    url('/fonts/hinted-GTAmerica-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/hinted-GTAmerica-Regular.woff2') format('woff2'),
    url('/fonts/hinted-GTAmerica-Regular.woff') format('woff'),
    url('/fonts/hinted-GTAmerica-Regular.ttf') format('truetype'),
    url('/fonts/hinted-GTAmerica-Regular.svg#GTAmerica-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
